@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 0, 0, 0;
  --background: 214, 219, 220;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: 49 51 56;
    --background: 30 31 34;
    --semibackground: 30 31 34;
    --midground: 43 45 49;
    @apply text-gray-100;
  }
}

* {
  scrollbar-width: auto;
  scrollbar-color: rgb(var(--background)) rgb(var(--midground));
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: rgb(var(--midground));
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(var(--background));
  border-radius: 6px;
  border: none;
}

body {
  background: rgb(var(--foreground));
}
